<%= simple_form_for @record do |f| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron">
    <div class="field">
      <!-- <%= f.label :title %> -->
      <%= f.input :title, placeholder: "the date e.g. 01/06/17" %>
      <%= f.input :description, placeholder: "summarise the day" %>
      <%= f.input :gratitude, placeholder: "what should you be grateful for today?" %>
      <%= f.input :pressups %>
      <%= f.input :situps %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
